name: 'build-test'
on:
  push:
    branches:
      - master

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          valueFile: '__tests__/fixtures/values.yaml'
          propertyPath: 'backend.version'
          value: v1.0.1
          branch: deployment/v1.0.1
          targetBranch: master
          createPR: 'false'
          message: 'Update Image Version to v1.0.1' 

  test-target-repository:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: infrastructure
      - name: Update values.yaml
        uses: ./infrastructure
        with:
          valueFile: '__tests__/fixtures/values.yaml'
          propertyPath: 'backend.version'
          value: v1.2.1
          branch: deployment/v1.2.1
          targetBranch: master
          createPR: 'false'
          message: 'Update Image Version to v1.2.1' 
          workDir: infrastructure